@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  font-family: 'Poppins', sans-serif;
}

.logo-cstm {
  width: 70px;
  height: 70px;
}

.menu-cstm {
  color: white;
}

.menu-cstm:hover {
  color: yellow;
  opacity: 100%;
}

.desc-cstm {
  text-align: justify;
}

section {
  margin-bottom: 100px;
}

.profile-image-cstm {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

h1 {
  color: white;
  font-weight: 600;
  font-size: 2.1rem;
  margin-bottom: 20px;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

.card {
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.project-card-cstm {
  height: 350px
}

.testimony-desc-cstm {
  height: 100px
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.slide-up {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 1.5s forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .testimony-desc-cstm {
    height: 80px
  }
}



/* Background */
.stars {
  color: yellowgreen;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.61em;
  --top-offset: 13.73vh;
  --fall-duration: 7.066s;
  --fall-delay: 2.319s;
}
.star:nth-child(2) {
  --star-tail-length: 7.06em;
  --top-offset: 3.39vh;
  --fall-duration: 7.185s;
  --fall-delay: 9.891s;
}
.star:nth-child(3) {
  --star-tail-length: 6.25em;
  --top-offset: 92.96vh;
  --fall-duration: 7.267s;
  --fall-delay: 9.26s;
}
.star:nth-child(4) {
  --star-tail-length: 5.42em;
  --top-offset: 70.4vh;
  --fall-duration: 11.698s;
  --fall-delay: 7.295s;
}
.star:nth-child(5) {
  --star-tail-length: 5.41em;
  --top-offset: 94.28vh;
  --fall-duration: 6.233s;
  --fall-delay: 4.19s;
}
.star:nth-child(6) {
  --star-tail-length: 5.44em;
  --top-offset: 28.78vh;
  --fall-duration: 11.081s;
  --fall-delay: 8.18s;
}
.star:nth-child(7) {
  --star-tail-length: 5.46em;
  --top-offset: 76.86vh;
  --fall-duration: 7.568s;
  --fall-delay: 1.77s;
}
.star:nth-child(8) {
  --star-tail-length: 5.28em;
  --top-offset: 70.98vh;
  --fall-duration: 8.978s;
  --fall-delay: 4.25s;
}
.star:nth-child(9) {
  --star-tail-length: 7.45em;
  --top-offset: 95.84vh;
  --fall-duration: 10.374s;
  --fall-delay: 2.299s;
}
.star:nth-child(10) {
  --star-tail-length: 5.21em;
  --top-offset: 51.61vh;
  --fall-duration: 11.31s;
  --fall-delay: 5.074s;
}
.star:nth-child(11) {
  --star-tail-length: 5.59em;
  --top-offset: 50.54vh;
  --fall-duration: 9.326s;
  --fall-delay: 8.241s;
}
.star:nth-child(12) {
  --star-tail-length: 5.88em;
  --top-offset: 84.38vh;
  --fall-duration: 7.075s;
  --fall-delay: 6.751s;
}
.star:nth-child(13) {
  --star-tail-length: 5.6em;
  --top-offset: 78.26vh;
  --fall-duration: 11.813s;
  --fall-delay: 6.56s;
}
.star:nth-child(14) {
  --star-tail-length: 5.17em;
  --top-offset: 13.65vh;
  --fall-duration: 9.981s;
  --fall-delay: 6.449s;
}
.star:nth-child(15) {
  --star-tail-length: 5.51em;
  --top-offset: 55.6vh;
  --fall-duration: 9.837s;
  --fall-delay: 9.557s;
}
.star:nth-child(16) {
  --star-tail-length: 5.26em;
  --top-offset: 59.61vh;
  --fall-duration: 10.587s;
  --fall-delay: 8.211s;
}
.star:nth-child(17) {
  --star-tail-length: 6.89em;
  --top-offset: 15.91vh;
  --fall-duration: 11.732s;
  --fall-delay: 0.412s;
}
.star:nth-child(18) {
  --star-tail-length: 6.58em;
  --top-offset: 6.89vh;
  --fall-duration: 9.899s;
  --fall-delay: 2.324s;
}
.star:nth-child(19) {
  --star-tail-length: 7.33em;
  --top-offset: 0.19vh;
  --fall-duration: 11.112s;
  --fall-delay: 0.13s;
}
.star:nth-child(20) {
  --star-tail-length: 5.05em;
  --top-offset: 76.44vh;
  --fall-duration: 9.848s;
  --fall-delay: 9.572s;
}
.star:nth-child(21) {
  --star-tail-length: 6.84em;
  --top-offset: 17.76vh;
  --fall-duration: 7.722s;
  --fall-delay: 3.039s;
}
.star:nth-child(22) {
  --star-tail-length: 6.62em;
  --top-offset: 41.21vh;
  --fall-duration: 6.249s;
  --fall-delay: 0.977s;
}
.star:nth-child(23) {
  --star-tail-length: 7.08em;
  --top-offset: 0.54vh;
  --fall-duration: 6.078s;
  --fall-delay: 8.91s;
}
.star:nth-child(24) {
  --star-tail-length: 7.03em;
  --top-offset: 23.46vh;
  --fall-duration: 8.269s;
  --fall-delay: 6.777s;
}
.star:nth-child(25) {
  --star-tail-length: 5.02em;
  --top-offset: 41.51vh;
  --fall-duration: 6.764s;
  --fall-delay: 7.248s;
}
.star:nth-child(26) {
  --star-tail-length: 6.17em;
  --top-offset: 9.34vh;
  --fall-duration: 6.879s;
  --fall-delay: 1.072s;
}
.star:nth-child(27) {
  --star-tail-length: 6.64em;
  --top-offset: 16.31vh;
  --fall-duration: 8.617s;
  --fall-delay: 0.535s;
}
.star:nth-child(28) {
  --star-tail-length: 6.04em;
  --top-offset: 79.5vh;
  --fall-duration: 10.913s;
  --fall-delay: 9.524s;
}
.star:nth-child(29) {
  --star-tail-length: 7.5em;
  --top-offset: 73.7vh;
  --fall-duration: 8.455s;
  --fall-delay: 0.767s;
}
.star:nth-child(30) {
  --star-tail-length: 6.89em;
  --top-offset: 75.23vh;
  --fall-duration: 6.145s;
  --fall-delay: 5.585s;
}
.star:nth-child(31) {
  --star-tail-length: 5.86em;
  --top-offset: 22.61vh;
  --fall-duration: 10.942s;
  --fall-delay: 0.125s;
}
.star:nth-child(32) {
  --star-tail-length: 5.56em;
  --top-offset: 30.32vh;
  --fall-duration: 8.961s;
  --fall-delay: 9.958s;
}
.star:nth-child(33) {
  --star-tail-length: 7.3em;
  --top-offset: 10.37vh;
  --fall-duration: 11.25s;
  --fall-delay: 3.24s;
}
.star:nth-child(34) {
  --star-tail-length: 6.91em;
  --top-offset: 40.85vh;
  --fall-duration: 9.679s;
  --fall-delay: 2.14s;
}
.star:nth-child(35) {
  --star-tail-length: 6.48em;
  --top-offset: 0.92vh;
  --fall-duration: 11.265s;
  --fall-delay: 5.472s;
}
.star:nth-child(36) {
  --star-tail-length: 7.27em;
  --top-offset: 64.17vh;
  --fall-duration: 11.604s;
  --fall-delay: 0.293s;
}
.star:nth-child(37) {
  --star-tail-length: 5.26em;
  --top-offset: 77.32vh;
  --fall-duration: 7.764s;
  --fall-delay: 6.078s;
}
.star:nth-child(38) {
  --star-tail-length: 7.45em;
  --top-offset: 9.83vh;
  --fall-duration: 11.89s;
  --fall-delay: 2.623s;
}
.star:nth-child(39) {
  --star-tail-length: 7.2em;
  --top-offset: 86.17vh;
  --fall-duration: 11.014s;
  --fall-delay: 3.669s;
}
.star:nth-child(40) {
  --star-tail-length: 7.13em;
  --top-offset: 22.3vh;
  --fall-duration: 6.482s;
  --fall-delay: 7.434s;
}
.star:nth-child(41) {
  --star-tail-length: 6.5em;
  --top-offset: 81.36vh;
  --fall-duration: 10.879s;
  --fall-delay: 9.522s;
}
.star:nth-child(42) {
  --star-tail-length: 6.29em;
  --top-offset: 31.69vh;
  --fall-duration: 10.136s;
  --fall-delay: 5.114s;
}
.star:nth-child(43) {
  --star-tail-length: 6.33em;
  --top-offset: 23.53vh;
  --fall-duration: 6.694s;
  --fall-delay: 8.516s;
}
.star:nth-child(44) {
  --star-tail-length: 6.3em;
  --top-offset: 14.56vh;
  --fall-duration: 8.898s;
  --fall-delay: 4.95s;
}
.star:nth-child(45) {
  --star-tail-length: 7.14em;
  --top-offset: 58.51vh;
  --fall-duration: 10.142s;
  --fall-delay: 3.844s;
}
.star:nth-child(46) {
  --star-tail-length: 5.64em;
  --top-offset: 87.59vh;
  --fall-duration: 6.534s;
  --fall-delay: 6.218s;
}
.star:nth-child(47) {
  --star-tail-length: 5.3em;
  --top-offset: 63.12vh;
  --fall-duration: 7.178s;
  --fall-delay: 5.634s;
}
.star:nth-child(48) {
  --star-tail-length: 6.58em;
  --top-offset: 99.04vh;
  --fall-duration: 8.957s;
  --fall-delay: 9.29s;
}
.star:nth-child(49) {
  --star-tail-length: 5.93em;
  --top-offset: 91.7vh;
  --fall-duration: 10.728s;
  --fall-delay: 2.382s;
}
.star:nth-child(50) {
  --star-tail-length: 7.1em;
  --top-offset: 89.07vh;
  --fall-duration: 10.603s;
  --fall-delay: 0.022s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}